<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.ucidw.mapper.AdMapper">

    <select id="countAdData" resultType="AdVo" >
       SELECT dt, HOUR,
           SUM(CASE WHEN ad_action = 0
                THEN cnt
           END) AS exposure,
           SUM(CASE WHEN ad_action = 1
                THEN cnt
           END) AS cnt,
           SUM(CASE WHEN ad_action = 2
                THEN cnt
           END) AS buyCount
            FROM dwshow.ad_show
            WHERE dt = '2020-07-21'
            GROUP BY dt, HOUR
            ORDER BY HOUR;
    </select>

    <select id="countAdAction" resultType="AdVo">
        SELECT dt, HOUR,
           SUM(CASE WHEN ad_action = 0
                THEN cnt
           END) AS exposure,
           SUM(CASE WHEN ad_action = 1
                THEN cnt
           END) AS cnt,
           SUM(CASE WHEN ad_action = 2
                THEN cnt
           END) AS buyCount
            FROM dwshow.ad_show
            WHERE dt = '2020-07-21'
            GROUP BY dt, HOUR
            ORDER BY HOUR;
    </select>
</mapper>