<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<title>Elmer I Fast build Admin dashboard for any platform</title>
	<meta name="description" content="Elmer is a Dashboard & Admin Site Responsive Template by hencework." />
	<meta name="keywords" content="admin, admin dashboard, admin template, cms, crm, Elmer Admin, Elmeradmin, premium admin templates, responsive admin, sass, panel, software, ui, visualization, web app, application" />
	<meta name="author" content="hencework"/>
	
	<!-- Favicon -->
	<link rel="shortcut icon" href="favicon.ico">
	<link rel="icon" href="favicon.ico" type="image/x-icon">
	
	<!-- Custom CSS -->
	<link href="dist/css/style.css" rel="stylesheet" type="text/css">
	<script src="vendors/bower_components/echarts/dist/echarts-en.min.js"></script>
	
</head>
<body>

	<!--/Preloader-->
    <div class="wrapper  theme-1-active pimary-color-blue">
		<!-- Main Content -->
				<div class="row">
			<div class="col-lg-12">
				<div class="panel panel-default card-view">
					<div class="panel-heading">
						<div class="pull-left">
							<h6 class="panel-title txt-dark">统计一级产品与二级产品销售情况</h6>
						</div>
						<div class="clearfix"></div>
					</div>
					<div class="panel-wrapper collapse in">
						<div class="panel-body">
							<div id="main" style="height: 800px"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
    </div>
    <!-- /#wrapper -->
	
	<!-- JavaScript -->
	
    <!-- jQuery -->
    <script src="vendors/bower_components/jquery/dist/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="vendors/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
	
	<!-- ChartJS JavaScript -->
	<script src="vendors/chart.js/Chart.min.js"></script>
	<script src="dist/js/chartjs-data.js"></script>
	
	<!-- Slimscroll JavaScript -->
	<script src="dist/js/jquery.slimscroll.js"></script>
	
	<!-- Fancy Dropdown JS -->
	<script src="dist/js/dropdown-bootstrap-extended.js"></script>	
	
	<!-- Owl JavaScript -->
	<script src="vendors/bower_components/owl.carousel/dist/owl.carousel.min.js"></script>
	
	<!-- Switchery JavaScript -->
	<script src="vendors/bower_components/switchery/dist/switchery.min.js"></script>
	
	<!-- Init JavaScript -->
	<script src="dist/js/init.js"></script>

	<script>
		var myChart = echarts.init(document.getElementById('main'));
		$.post("/dwh/trade/trade.do",function(data) {
			var totalCount_c1 = data.data[0].totalcount;
			var totalProductnum__c1 = data.data[0].totalProductnum;
			var totalmoney_1 = data.data[0].totalmoney;

			var totalCount_c2 = data.data[1].totalcount;
			var totalProductnum__c2 = data.data[1].totalProductnum;
			var totalmoney_2 = data.data[1].totalmoney;

			var totalCountAvg = Math.ceil((totalCount_c1 + totalCount_c2) / 2)*2;
			var totalProductnumAvg = Math.ceil((totalProductnum__c1 + totalProductnum__c2) / 2)*2;
			var totalmoneyAvg = Math.round(((totalmoney_1 + totalmoney_2) / 2), 2)*2;


			myChart.setOption({
				tooltip: {},
				legend: {
					data: ['一级产品（First Product）', '二级产品（Second Product）']
				},
				radar: {
					// shape: 'circle',
					name: {
						textStyle: {
							color: '#fff',
							backgroundColor: '#999',
							borderRadius: 3,
							padding: [3, 5]
						}
					},
					indicator: [
						{name: '订单数（order）', max: totalCountAvg},
						{name: '商品数（product）', max: totalProductnumAvg},
						{name: '支付金额（pay for）', max: totalmoneyAvg},
					]
				},
				series: [{
					name: '一级产品销售情况 vs 二级产品销售情况',
					type: 'radar',
					data: [
						{
							value: [totalCount_c1, totalProductnum__c1, totalmoney_1],
							name: '一级产品（First Product）'
						},
						{
							value: [totalCount_c2, totalProductnum__c2, totalmoney_2],
							name: '二级产品（Second Product）'
						}
					]
				}]
			})
		})
	</script>

</body>

</html>
